.create-recipe {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 25rem;
		text-transform: capitalize;

		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 600;
		}

		div {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;

			label {
				width: 100%;
			}
		}
	}
}
