@import "resets", "variables", "config", "responsiveness";

:root {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	color: $text-color;
	overflow-x: hidden;
}

section {
	padding: 3rem 2rem;
}

a {
	color: $text-color;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary-color;
	line-height: 1;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	text-transform: capitalize;
}

p {
	line-height: 1.6;
}

.btn {
	background-color: darken($accent-color, 10%);
	box-shadow: 0 10px 0 darken($accent-color, 30%);
	border: none;
	border-radius: radius(regular);
	color: $text-color;
	cursor: pointer;
	@include resize(fs-btn);
	font-weight: weight(medium);
	padding: 1.05rem 2.8rem;
	text-transform: uppercase;
	position: relative;
}

.btn:hover {
	background-color: $accent-color;
	box-shadow: 0 10px 0 darken($accent-color, 20%);
}

.btn:active {
	box-shadow: 0 5px 0 darken($accent-color, 20%);
	transform: translateY(5px);
}
